@use './partials/header';
@use './partials/footer';
@import "~bootstrap/scss/bootstrap";

.my_container_lg {
    width: 70%;
}

.jumbotron {
    height: 400px;
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
}


.current_series {
    .section_title {
        padding: 1rem 1.5rem;
        h4 {
            font-family: "Roboto Condensed", sans-serif;
            font-size: 1.5rem;
            font-weight: 700;
        }
    }
    .section_content {
        .card {
            a{
                text-decoration: none;
                img {
                    width: 100%;
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                    object-position: 100% 0;
                }
                .card_text {
                    span {
                        font-size: 0.7rem;
                    }
                }
            }
        }
        button {
            font-family: "Roboto Condensed", sans-serif;
            font-weight: 700;
        }
    }
}

.banner {
    span {
        padding-left: 0.5rem;
        font-size: 0.65rem;
    }
}

.primary-stripe {
    background-color: $primary;
    height: 70px;
}

.comic_container {
    width: 60%;
    padding-bottom: 3rem;
    .img_container {
        top: -300px;
    }

    h2 {
        font-family: "Roboto Condensed", sans-serif;
        color: rgb(0, 0, 50);
        font-weight: 700;
    }
    .price-banner {
        background-color: #55ba59;
        font-size: 0.8rem;
        margin-bottom: 2rem;
        .banner_left {
            padding: 1rem;
            width: 70%;
            .price, .avail {
                color: #94df97;
            }
        }
        .check_avail{
            padding: 1rem;
            border-left: 1px solid #2f6932;
        }
    }
    .description {
        font-size: 0.75rem;
    }
    h4 {
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 700;
        font-size: 1rem;
        color: gray;
    }
    .adv-container {
        height: 100%;
        img {
            height: 270px;
            aspect-ratio: 1 / 1;
            object-fit: cover;
        }
        .banner-title {
            font-family: "Roboto Condensed", sans-serif;
            font-weight: 700;
            color: white;
            top: 60px;
            left: 10px;
            font-size: 1.2rem;
        }
        .btn {
            font-family: "Roboto Condensed", sans-serif;
            font-weight: 700;
            top: 275px;
            left: 10px;
        }
        .visa {
            top: 295px;
            right: 0px;
            color: white;
            font-family: "Roboto Condensed", sans-serif;
            font-weight: 700;
            font-size: 0.8rem;
        }
    }
}

.index-actions {
    font-size: 0.8rem;
}

.create_container {
    width: 70%;
}

