@use './partials/header' as *;
@import "~bootstrap/scss/bootstrap";

.my_container_lg {
    width: 70%;
}

.jumbotron {
    height: 400px;
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
}

.current_series {
    .section_title {
        padding: 1rem 1.5rem;
        h4 {
            font-family: "Roboto Condensed", sans-serif;
            font-size: 1.5rem;
            font-weight: 700;
        }
    }
    .section_content {
        .card {
            a{
                text-decoration: none;
                img {
                    width: 100%;
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                    object-position: 100% 0;
                }
                .card_text {
                    span {
                        font-size: 0.7rem;
                    }
                }
            }
        }
        button {
            font-family: "Roboto Condensed", sans-serif;
            font-weight: 700;
        }
    }
}

.banner {
    span {
        padding-left: 0.5rem;
        font-size: 0.65rem;
    }
}

.primary-stripe {
    background-color: $primary;
    height: 70px;
}

.comic_container {
    width: 60%;
    .img_container {
        top: -300px;
    }
}

.index-actions {
    font-size: 0.8rem;
}

.create_container {
    width: 70%;
}

/* .delete_button {
    padding: 3px;
} */

footer {
    .footer-top {
        background-image: url('../img/footer-bg.jpg');
        .top-left {
            width: 50%;
            h5 {
                font-family: 'Roboto Condensed', sans-serif;
                color: white;
                font-size: 0.9rem;
                font-weight: 500;
            }
            li, span {
                    font-size: 0.65rem;
                    color: grey;
            }
            span a {
                text-decoration: none;
            }
        }
        .top-right {
            margin-left: 4rem;
            width: 50%;
            background-image: url('../img/dc-logo-bg.png');
            background-size: cover;
            background-position: center;
        }
    }
    .footer-bottom {
        .btn {
            font-size: 0.8rem;
        }
        .social {
            h5 {
                font-family: 'Roboto Condensed', sans-serif;
                font-weight: 700;
            }
            img {
                height: 25px;
                padding: 0 0.3rem;
            }
        }
    }
}
