@import "~bootstrap/scss/bootstrap";

.my_container_lg {
    width: 70%;
}

header {
    .header_banner {
        font-family: "Roboto", sans-serif;
        font-size: 0.8rem;
        font-weight: 400;
    }
    nav {
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 700;
        font-size: 0.8rem;
        li {
            a.nav-link {
                text-transform: uppercase;
                color: black;
                .dropdown-toggle::after {
                    color: $primary !important;
                }
            }
        }
        .input-group {
            border: none;
            text-align: end;
            border-bottom: 3px solid $primary;
            width: 15%;
            align-self: flex-end;
            input {
                border: none;
                padding-right: 0;
            }
            span {
                border: none;
                background-color: transparent;
            }
        }
    }
}

.jumbotron {
    height: 400px;
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
}

.current_series {
    .section_title {
        padding: 1rem 1.5rem;
        h4 {
            font-family: "Roboto Condensed", sans-serif;
            font-size: 1.5rem;
            font-weight: 700;
        }
    }
    .section_content {
        .card {
            a{
                text-decoration: none;
                img {
                    width: 100%;
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                    object-position: 100% 0;
                }
                .card_text {
                    span {
                        font-size: 0.7rem;
                    }
                }
            }
        }
        button {
            font-family: "Roboto Condensed", sans-serif;
            font-weight: 700;
        }
    }
}

.primary-stripe {
    background-color: $primary;
    height: 70px;
}

.comic_container {
    width: 60%;
    .img_container {
        top: -300px;
    }
}

.index-actions {
    font-size: 0.8rem;
}
