@import "~bootstrap/scss/bootstrap";

footer {
    .footer-top {
        background-image: url('../img/footer-bg.jpg');
        .top-left {
            width: 50%;
            h5 {
                font-family: 'Roboto Condensed', sans-serif;
                color: white;
                font-size: 0.9rem;
                font-weight: 500;
            }
            li, span {
                    font-size: 0.7rem;
                    color: grey;
                    line-height: 1.1rem;
            }
            span a {
                text-decoration: none;
            }
        }
        .top-right {
            margin-left: 4rem;
            width: 50%;
            background-image: url('../img/dc-logo-bg.png');
            background-size: cover;
            background-position: center;
        }
    }
    .footer-bottom {
        .btn {
            font-size: 0.8rem;
        }
        .social {
            h5 {
                font-family: 'Roboto Condensed', sans-serif;
                font-weight: 700;
            }
            img {
                height: 25px;
                padding: 0 0.3rem;
            }
        }
    }
}
